.container {
    background-color: #fff;
    /* padding: 1.5em; */
}

h2 {
    margin-top: 1em;
}

/* Navigation */

#nav {
    display: none
}

/* code (line numbering, syntax highlight is in "pygments.css") */
.codeblock {
    margin: 1em;
    overflow: hidden;
    border: solid 1px #ddd;
    padding: 0 0 0 0;
    background-color: white;
}

.lineno {
    float: left; 
    /* font-family: "Courier New", monospace; */
    color: #555;
    padding-right: 0.1em;
    margin-right: 0.5em;
    border-right: solid 1px #ddd;
    width: 30px;
    text-align: right;
    background: #d2f5a7;
}

.lineno pre {
    margin-top: 0px;
    margin-bottom: 0px;
}

/* footer */
#footer {
    display: none;
}

p + p {
    text-indent: 0;
    margin-top: 0em;
}

/* "info" block */
.info {
    padding: 1em;
    margin: 1em 1em 1em 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    color: black;
    white-space: pre;
}

.info-warning {
    padding: 1em;
    margin: 1em 1em 1em 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #fcc;
    border-left: 0;
    border-right: 0;
    white-space: pre;
}

.info-exercise {
    padding: 1em 1em 0em 1em; 
    margin: 1em 1em 1em 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #ffc;
    border-left: 0;
    border-right: 0;
    white-space: pre;
}

.info-recall {
    padding: 1em;
    margin: 1em 1em 1em 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    border-left: 0;
    border-right: 0;
    color: black;
    white-space: pre;
}

.info-output{
    padding: 1em;
    margin: 1em 1em 1em 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    border-left: 0;
    border-right: 0;
    color: black;
    font-family: 'andale mono', 'lucida console', monospace;
    white-space: pre; 
}

.info:first-line, .info-exercise:first-line {
    font-weight: bold;
    font-size: 1.2em;
}


/*
.info-exercise:before {
    content: "Exercise";
    margin-bottom: 1em;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
}
*/

.hint {
    display: none;
}

/* Error */
.general-error {
    font-weight: bold;
    font-size: 1.5em;
    color: red;
}

/* disclose tag */
.disclose {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.disclose-text {
    display: none;
    padding: 1em;
    margin: 1em 1em 1em 1em;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #eee;
    border-left: 0;
    border-right: 0;
    color: black;
}

.disclose-link {
    text-decoration: none;
    font-size: 1.2em;
}

.disclose-key {
    display: none;
}

.disclose-error {
    display: none;
    color: red;
    left-margin: 2em;
}
